//CODING
#section3 {
    color: $light;
    font-size: 16pt;
    transition: 250ms all linear;
    box-shadow: inset 0px 0px 1500px rgba(0, 0, 0, 0.9);
    h2 {
        color: $highlight;
    }
    .col-xs-12 {
        p {
            margin-top: 25px;
            color: $mid;
            font-size: 24pt;
            text-transform: none;
            letter-spacing: 2pt;
        }
    }
    #particles-js {
        -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        position: absolute;
        z-index: 0;
        width: 115%;
        height: 115%;
    }
}