//UXUI
#section4 {
    .arrow-left {
        padding: 0px 30px;
        -webkit-animation: bounceLeft 3s infinite;
        animation: bounceLeft 3s infinite;
        height: 20px;
    }
    .arrow-right {
        padding: 0px 30px;
        -webkit-animation: bounceRight 3s infinite;
        animation: bounceRight 3s infinite;
        height: 20px;
    }
    .fp-bg {
        background-image: url('/img/bg_seo.png');
        background-size: cover;
        background-position: center 70%;
    }
    .video-overlay {
        opacity: .85;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#22e1ff+0,625eb1+100 */
        background: #22e1ff;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #22e1ff 0%, #625eb1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #22e1ff 0%, #625eb1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #22e1ff 0%, #625eb1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22e1ff', endColorstr='#625eb1', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    .titles {
        z-index: 4;
        position: relative;
        padding: 5vmax 0 0 5vmax;
        p {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 80px;
        }
    }
    .isolayer {
        z-index: 5;
        position: absolute;
    }
    .slideshow {
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
    }
    .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
    }
    .slide--current {
        opacity: 1;
        pointer-events: auto;
    }
    .slide__img {
        position: absolute;
        top: -200px;
        left: -200px;
        width: calc(100% + 400px);
        height: calc(100% + 400px);
        background-size: cover;
        background-position: 50% 50%;
    }
    .slidenav {
        z-index: 6;
        position: absolute;
        width: 500px;
        margin-left: -250px;
        left: 50%;
        top: 0;
        text-align: center;
        padding: 1em;
    }
    .slidenav__item_left {
        border: 0;
        background: none;
        font-weight: bolder;
        font-size: 15px;
        text-transform: uppercase;
        color: $mid;
        -webkit-animation: bounceLeft 3s infinite;
        animation: bounceLeft 3s infinite;
        padding: 0px 30px;
        outline: none;
    }
    .slidenav__item_right {
        border: 0;
        background: none;
        font-weight: bolder;
        font-size: 15px;
        text-transform: uppercase;
        color: $mid;
        -webkit-animation: bounceRight 3s infinite;
        animation: bounceRight 3s infinite;
        padding: 0px 30px;
        outline: none;
    }
    .slidenav__item:focus {
        outline: none;
        
    }
    .slidenav__item:hover {
        color: linear-gradient(135deg, #22e1ff 0%, #625eb1 100%);
    }
    .shape {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: #625eb1;
        top: 0;
        pointer-events: none;
    }
    .slide__title {}
    .slide__desc {}
    @media screen and (min-width: 55em) {
        .demos {
            display: flex;
            justify-self: end;
        }
        .demo {
            display: block;
            width: 17px;
            height: 17px;
            margin: 0 4px;
            border-radius: 50%;
            background: linear-gradient(135deg, #22e1ff 0%, #625eb1 100%);
        }
        a.demo--current {
            background: linear-gradient(135deg, #22e1ff 0%, #625eb1 100%);
        }
        .demo span {
            line-height: 1;
            position: absolute;
            right: 100%;
            display: none;
            margin: 0 1em 0 0;
        }
        .demo--current span {
            display: block;
        }
    }
    @media screen and (max-width: 55em) {
        body {
            padding: 0 0 4em 0;
        }
        .content {
            flex-direction: column;
            height: auto;
            min-height: 0;
            padding-bottom: 10em;
        }
        .content--fixed {
            position: relative;
            z-index: 4;
            display: block;
            padding: 0.85em;
        }
        .slide__desc {
            font-size: 1em;
        }
        .slide__link {
            font-size: 0.85em;
        }
    }
}
