//SKILLS
#section1 {
     .lead{
         color:$mid;
     }
     .container-fluid {
         height: 100%;
         padding: 0px;
         .row-fluid {
             height:inherit;
         }
     }
 }
