//SKILLS
#section1 {
    p{
        letter-spacing: 1px
    }
     .container-fluid {
         height: 100%;
         padding: 0px;
         .row-fluid {
             height:inherit;
         }
     }
 }