.type-it {
    font-weight: 100;
    color: $highlight;
    font-size: 3.5em;
    letter-spacing: -2px;
}

.type-it-wrapper {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}
