body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.fullpage {
    @media(max-width: 767px) {
        width:calc(100% - 150px);
        .container{
            width:100%;
        }
    }
    @media(min-width:768px) {
        width: calc(100% - 150px);
        .container {
             width:100%;
        }
    }
    @media(min-width:992px) {
        width: calc(100% - 200px);
        .container {
            width: 970px;
        }
    }
    @media(min-width:1200px) {
        width: calc(100% - 300px);
        .container {
            width: 1170px;
        }
    }
}

.scene {
    position: absolute !important;
    pointer-events: auto !important;
    height: 100%;
    width: 100%;
}

@media (min-width: 1200px) {}
