@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700');
@font-face {
    font-family: 'theflower';
    src: url('theflowercity-webfont.woff2') format('woff2'), url('theflowercity-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 42px;
     strong {
        font-weight: bolder;
        color: $highlight;
    }
}

h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    letter-spacing: 3px;
    line-height: 50px;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 100;
    color: $dark;
    span {
        font-weight: 300;
        color: white;
    }
    small {
        color: white;
        font-size: 24px
    }
}

.fa-heartbeat {
    color: red;
}
